.c-dropdown  {
  position: relative;
  margin: 0;
  list-style: none;
  padding: 0;
}

.c-dropdown-container {
  position: absolute;
  visibility: hidden;
  height: 0;
}

.c-dropdown-trigger[aria-expanded="true"] + .c-dropdown-container {
  display: block;
  visibility: visible;
  height: auto;
}

.c-dropdown--setwidth .c-dropdown-container,
.c-dropdown--setwidth .c-dropdown-trigger {
  width: var(--c-dropdown-width);
}

