.c-dropdown  {
  position: relative;
  margin: 0;
  list-style: none;
  padding: 0;
}

.c-dropdown > ul,
.c-dropdown > div {
  position: absolute;
  display: none;
}

.c-dropdown [aria-expanded="true"] + ul,
.c-dropdown [aria-expanded="true"] + div {
  display: block;
}

