@keyframes c-anim-marquee-x {
  from {
    transform: translateX(var(--c-marquee-start, -100%));
  }
  to {
    transform: translateX(var(--c-marquee-end, 100%));
  }
}

@keyframes c-anim-marquee-y {
  from {
    transform: translateY(var(--c-marquee-start, -100%));
  }
  to {
    transform: translateY(var(--c-marquee-end, 100%));
  }
}

.c-marquee {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.c-marquee-container {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}

.c-marquee-container {
  animation: c-anim-marquee-x var(--c-marquee-duration) infinite linear;
}

.c-marquee--direction-up .c-marquee-container,
.c-marquee--direction-down .c-marquee-container {
  animation-name: c-anim-marquee-y;
  flex-direction: column;
}

.c-marquee--behavior-alternate .c-marquee-container {
  animation-direction: alternate;
}

.c-marquee--direction-up:not(.c-marquee--fill) .c-marquee-container,
.c-marquee--direction-left:not(.c-marquee--fill) .c-marquee-container {
  animation-direction: reverse;
}

.c-marquee--fill.c-marquee--direction-down .c-marquee-container,
.c-marquee--fill.c-marquee--direction-right .c-marquee-container {
  animation-direction: reverse;
}

.c-marquee--pause .c-marquee-container {
  animation-play-state: paused;
}

.c-marquee-container > * {
  flex-shrink: 0;
}

.c-marquee--keyboard:focus-within .c-marquee-container {
  animation: none;
}

@media (prefers-reduced-motion: reduce) {
  .c-marquee-container {
    animation: none;
  }
}
