name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Playwright Install
        run: npx playwright install --with-deps

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test

  coverage:
    runs-on: ubuntu-latest
    name: Coverage

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Set node version to 24
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm coverage

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    name: 'Lint: node-20, ubuntu-latest'

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Set node version to 24
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Lint
        run: pnpm lint

  docs-sync:
    runs-on: ubuntu-latest
    name: Docs Sync

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
        with:
          version: 10

      - name: Set node version to 24
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Check docs are in sync
        run: pnpm docs:sync
