name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test & Coverage

    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup

      - name: Playwright Install
        run: npx playwright install --with-deps

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm test:coverage

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    name: Lint

    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup

      - name: Lint
        run: pnpm lint

  docs-sync:
    runs-on: ubuntu-latest
    name: Docs Sync

    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup

      - name: Check docs are in sync
        run: pnpm docs:sync

  build:
    runs-on: ubuntu-latest
    name: Build

    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup

      - name: Build
        run: pnpm build
